*, *::after, *::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
	font-family: Arial, Roboto, sans-serif;
	scroll-behavior: smooth;
}
/*!  onclick top  */

#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	height: 40px;
	width: 40px;
	border: 3px solid red;
	background-color: green;
}

/*! end onclick top */
/* .wrapper {} */

.continer {
	max-width: 990px;
	margin: 0px auto;
	padding: 0 10px;
}
/* ? header style */
.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}
.header::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #0099ff;
	z-index: 2;
}
.header__body {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 80px;
	align-items: center;
}
.header__logo {
	flex: 0 0 60px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	z-index: 3;
}
.header__logo img {
	max-width: 100%;
	display: block;
}
.header__list {
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 50px 20px;
	box-sizing: border-box;
	width: 300px;
	height: 100vh;
	background-color: #00b8ff29;
	transition: 0.5s;
	z-index: 100;
	overflow-y: auto;
}
.header__list li {
	list-style: none;
}
.header__link {
	display: block;
	color: #00d0ff;
	padding: 10px;
	text-decoration: none;
	font-size: 17px;
	font-weight: 700;
	background: #00082fed;
	margin: 3px;
	transition: 0.5s;
}
.header__link:hover {
	transform: translateX(10px);
	text-shadow: 0 0 15px #00d0ff;
	background: #00082fed;
}
input[type="checkbox"]
{
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	width: 30px;
	height: 30px;
	z-index: 101;
	cursor: pointer;
	opacity: 0;
}
.header__burger {
	display: block;
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	width: 30px;
	height: 20px;
	z-index: 1002;
	cursor: pointer;
	background-color: #0099ff;
	pointer-events: none;
}
.header__burger span {
	position: absolute;
	background-color: transparent;
	left: 0;
	width: 100%;
	height: 2px;
	top: 9px;
	border-radius: 50%;
	transition: .4s;
}
.header__burger::before,
.header__burger::after {
	content: '';
	background-color: #fff;
	position: absolute;
	width: 100%;
	height: 2px;
	left: 0;
	border-radius: 50%;
	transition: .4s;
}
.header__burger::before {
	transform: rotate(45deg);
	top: 9px;
}
.header__burger::after {
	transform: rotate(-45deg);
	bottom: 9px;
}
input[type="checkbox"]:checked ~ .header__burger::before {
	transform: rotate(0deg);
	top: 0;
}
input[type="checkbox"]:checked ~ .header__burger::after {
	transform: rotate(0deg);
	bottom: 0;
}
input[type="checkbox"]:checked ~ .header__burger span {
	background-color: #fff;
}
input[type="checkbox"]:checked ~ .header__list {
	left: -300px;
}

/* ? Section About style */
.about {
	position: relative;
	top: 50px;
	background-color: #bdbcff;
	padding: 60px 0 10px 0;
	overflow: hidden;
	height: 100vh;
}
.about__body {
	display: flex;
	justify-content: space-between;
}
.img__1 {
	display: none;
	overflow: visible;
}
.about__jeki {
	position: relative;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-color: #0ef0f033;
	z-index: 2;
	transform: scale(0);
	transition: all 0.8s ease 0s;
}
.about__jeki-content._active .about__jeki {
	transform: scale(1);
}
.jeki__line-1,
.jeki__line-2 {
	position: absolute;
	top: 0;
	left: 0;
	height: 100px;
	width: 100px;
	border: 4px solid #0ef0f0;
	border-radius: 50%;
	border-top-color: transparent;
	border-bottom-color: transparent;
}
.jeki__line-1 {
	animation: jeki1 3s infinite cubic-bezier(0.01, 0.01, 1, 1);
}
.jeki__line-2 {
	top: 8px;
	left: 8px;
	height: 84px;
	width: 84px;
	animation: jeki2 3s infinite cubic-bezier(0.01, 0.01, 1, 1);
}
@keyframes jeki1 {
	100% {
		transform: rotate(-360deg);
	}
}
@keyframes jeki2 {
	100% {
		transform: rotate(360deg);
	}
}
.jeki__text {
	text-align: center;
	line-height: 100px;
	letter-spacing: 2px;
	color: #0ef0f0;
	font-size: 21px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 0 23px;
	/* font-family: ; */
}
.about__title {
	color: #0074c2;
	/* font-size: 55px; */
	font-size: calc(26px + 16 * (100vw / 990));
	font-weight: 700;
	padding: 10px 55px 10px 30px;
	text-transform: capitalize;
	z-index: 3;
}
.fullscrin__title {
	transform: translate(0px, 120%);
	opacity: 0;
	transition: all 0.8s ease 0s;
}
.fullscrin__title._active {
	transform: translate(0, 0);
	opacity: 1;
}
.about__title span {
	text-transform: lowercase;
}
.jeki__background {
	position: relative;
	top: 0;
	left: 0;
	height: 1px;
	width: 1px;
}
.jeki__background-row {
	position: absolute;
	top: -513px;
   left: 52px;
	height: 400px;
	width: 400px;
	background-color: #0099ff;
	transform: rotate(45deg); 
	transition: all 0.8s ease 0s;
}
.jeki__background._active .jeki__background-row {
	top: -231px;
}

/* ? HOME Works style */


.homework {
	position: relative;
	width: 100%;
	height: 100%;
	color: #0ef0f0;
	background-color: #00011d;
}
.homework__body {
	display: block;
}
.content__title {
	position: relative;
	padding: 150px 0px 0px 0px;
	overflow: hidden;
}
h1 {
	font-size: calc(17px + 16 * (100vw / 1440));
	font-weight: 600;
	letter-spacing: 2px;
	text-align: center;
}
.content__task {
	position: relative;
	padding: 30px 0px 100px 20px;
	overflow: hidden;
}
.task__number {
	position: absolute;
	padding: 10px;
	height: 40px;
	width: 40px;
	border: 3px solid #0ef0f0;
	border-radius: 50%;
	text-align: center;
	background-color: #003c70;
	font-weight: 900;
	line-height: 15px;
	z-index: 2;
	transform: translate(-120%, 0);
	opacity: 0;
	transition: all 0.8s ease 0s;
}
.task__line {
	position: absolute;
	height: 3px;
	background-color: #0ef0f0;
	top: 50px;
	z-index: 1;
	left: 0;
	width: 100%;
	transform: translate(-120%, 0);
	opacity: 0;
	transition: all 0.8s ease 0s;
}
.task__name {
	position: absolute;
	right: 0;
	top: 35px;
	background-color: #003c70;
	font-weight: 600;
	font-size: 18px;
	letter-spacing: 1px;
	z-index: 2;
	padding: 6px 8px;
	border-bottom: 3px solid #0ef0f0;
	border-left: 3px solid #0ef0f0;
	transform: translate(120%, 0);
	opacity: 0;
	transition: all 0.8s ease 0s;
}
.content__task._active .task__number,
.content__task._active .task__line,
.content__task._active .task__name {
	transform: translate(0, 0);
	opacity: 1;
}
.answer__question {
	padding: 0px 0 1px 0;
	display: block;
}
.answer {
	margin: 0;
}
.answer__text {
	font-size: calc(14px + 16 * (100vw / 1440));
	letter-spacing: 1px;
	text-indent: 30px;
	text-align: center;
	transition: all 0.8s ease 0s;
	opacity: 0;
	transform: translate(0, -100%);
}
.answer._active .answer__text {
	transform: translate(0, 0);
	opacity: 1;
}
.question {
	padding: 50px;
	letter-spacing: 1px;
}
.question__title {
	font-size: calc(11px + 16 * (100vw / 1440));
	padding: 0 0 7px 10px;
}
.question__text {
	font-size: calc(11px + 16 * (100vw / 1440));
	padding: 10px;
	border: 2px solid #7ef0ff;
	border-radius: 10px;
}
.question__table {
	margin: 40px 0;
	color: #000122;
	overflow: hidden;
	overflow-x: auto;
}
.table {
	display: flex;
	justify-content: center;
	border-collapse: collapse;
	transform: scale(0);
	opacity: 0;
	transition: all 0.9s ease 0s;
}
.question__table._active .table {
	opacity: 1;
	transform: scale(1);
}
.table tr {
	border: 1px solid #000122;
}
.table th {
	background-color: #006ae2;
	text-align: center;
	font-weight: 600;
	padding: 6px;
	border: 1px solid #000122;
}
.table td {
	background-color: #419aff;
	padding: 6px;
	border: 1px solid #000122;
	font-weight: 500;
	letter-spacing: 1px;
}
.table td ul {
	padding: 5px 0 0 15px;
}
.table__text {
	display: flex;
	justify-content: center;
	border-collapse: collapse;
	transform: scale(0);
	opacity: 0;
	transition: all 0.9s ease 0s;
}
.question__table._active .table__text {
	opacity: 1;
	transform: scale(1);
}
.table__text td {
	color: #0ef0f0;
	padding: 5px 0;
}
.table__text-onderline {
	position: absolute;
	font-size: 10px;
	margin: 7px 0px 0 1px;
}
.equals {
	position: relative;
    padding: 0 0 0 13px;
}
.__anime-show {
	transform: translate(0, 120%);
	opacity: 0;
	transition: all 0.8s ease 0s;
}
.__anime-show._active,
._active .__anime-show {
	transform: translate(0, 0);
	opacity: 1;
}


@media (max-width: 977px) {
	.about__title p {
		position: relative;
		z-index: 3;
		color: #015096;
	}
}
@media (max-width: 800px) {
	.jeki__background-row {
		left: -210px;
	}
}
@media (max-width: 768px) {
	.table-2 {
	min-width: 990px;
	overflow-x: auto;
}
}
@media (max-width: 425px) {
	.header__body {
		height: 50px;
	}
	.header__logo {
		flex: 0 0 40px;
	}
	.img__1 {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		flex: 0 0 100%;
	}
	.img__1 img {
		width: 100%;
	}
	.about__body {
		flex-wrap: wrap;
	}
	.about__jeki {
		top: -50px;
	}
	.jeki__background {
		display: none;
		visibility: visible;
	}
	
	.task__name {
		font-size: 15px;
	}
	.question {
		padding: 50px 0 30px 0;
	}
}
@media (max-width: 320px) {
	.about__title p {
		/* font-size: 34px; */
		font-size: calc(26px + (16 * 16 * 0.4) * ((100vw - 320px) / 1440));
	}
	h1 {
		font-size: calc(17px + (16 * 16 * 0.5) * ((100vw - 320px) / 1440));
	}
	.answer__text {
		font-size: calc(14px + (16 * 16 * 0.7) * ((100vw - 320px) / 1440));
	}
	.question__text {
		font-size: calc(11px + (16 * 16 * 0.7) * ((100vw - 320px) / 1440));
	}
	.question__title {
		font-size: calc(11px + (16 * 16 * 0.7) * ((100vw - 320px) / 1440));
	}
}